
       <!-- Navbar & Hero Start -->
       <div class="container-fluid py-5 bg-dark hero-header mb-5 position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Food Box</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0 pe-4">
                    <a [routerLink]="['/home']" class="nav-item nav-link">Home</a>
                    <a [routerLink]="['/about']" class="nav-item nav-link ">About</a>
                    <a [routerLink]="['/foodlist']" class="nav-item nav-link">Menu</a>
                    <a [routerLink]="['/cart']" class="nav-item nav-link active">Cart</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="booking.html" class="dropdown-item">Booking</a>
                            <a href="team.html" class="dropdown-item">Our Team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        </div>
                    </div> -->
                    <div class="nav-item dropdown">
                    
                      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ username }}</a>
                      <div class="dropdown-menu m-0">
                          <a [routerLink]="['/edituser']" class="dropdown-item">profile</a>
      
                      </div>
                  </div>
                    <a [routerLink]="['/contact']" class="nav-item nav-link">Contact</a>
                </div>
                <a [routerLink]="['/signin']" class="btn btn-primary py-2 px-4">Sign in</a>
            </div>
        </nav>

        <!-- <div class="container-fluid py-5 bg-dark hero-header mb-5">
            <div class="container text-center my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div> -->
    </div>
    <!-- Navbar & Hero End -->
<div *ngIf="totalCartCost != 0 else emptyCartMessage" class="cart-container">
    <div class="row">
      <div class="col-md-8">
        <div class="card cart-card">
          <div class="card-body">
            <h5 class="card-title">Your Cart</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cartItem of cartItems">
                  <td>
                    <h4 class="item-name">{{ cartItem.foodItem.name }}</h4>
                    <small class="item-description">{{ cartItem.foodItem.description }}</small>
                  </td>
                  <td>
                    <div class="input-group">
                      <button class="btn btn-outline-warning btn-sm" type="button" (click)="updateQuantity(cartItem, cartItem.quantity,'-')">
                        -
                      </button>
                      <input type="text" class="form-control text-center quantity-input" [(ngModel)]="cartItem.quantity" readonly />
                      <button class="btn btn-outline-success btn-sm" type="button" (click)="updateQuantity(cartItem, cartItem.quantity,'+')">
                        +
                      </button>
                    </div>
                  </td>
                  <td class="item-price">{{ cartItem.foodItem.price | currency : "INR" }}&times;{{cartItem.quantity}}</td>
                  <td>
                    <h4 class="item-total">{{ cartItem.totalFoodItemCost | currency : "INR" }}</h4>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm remove-button" (click)="removeFromCart(cartItem)">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card summary-card">
          <div class="card-body">
            <h5 class="card-title">Cart Summary</h5>
            <p class="total-items">Total Unique Items: {{ cartItems.length }}</p>
            <p class="total-cost">Total Cost: {{ totalCartCost | currency : "INR" }}</p>
            <button class="btn btn-primary" (click)="redirectToPayment()">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #emptyCartMessage>
    <div class="empty-cart-message">
      <h2>Your Cart is Empty 😕</h2>
      <img src="https://cdn.dribbble.com/users/844846/screenshots/2981974/empty_cart_800x600_dribbble.png" alt="empty cart T_T" width="100%" />
    </div>
  </ng-template>
  <div class="modal" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="alertModalLabel" style="color: red;">Alert!</h5>
          <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Close" (click)="closeAlertModal()">
          </button>
        </div>
        <div class="modal-body">
          <h6 style="color: black;">{{alertMessage}}</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeAlertModal()">Close</button>
        </div>
      </div>
    </div>
  </div>