/* @import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@300;400;500;700&family=Roboto+Condensed:wght@300&display=swap');
        * {
            margin: 0;
            padding: 0;
            
        }
        #main{
            font-family: 'Inspiration', cursive;
            font-size: 30px;
            /* font-weight: 400; */

            